<h1>New User</h1>

<%= form_for @user do |form| %>
  <p>
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "username" %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "user@example.com" %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "******" %>
  </p>

  <%= form.submit "Submit" %>
<% end %>
